* List
* Tuples 
* Dictionary
* Sets

# List Operations
    * append > To add an item to the end of the list
    * insert > To insert a list item at a specified index
    * extend > To append elements from another list to the current list
    * remove > removes the specified item
    * pop > removes the specified index
    * del > removes the specified index also removes the list completely
    * clear > empties the list
    * sort > sort the list alphanumerically, ascending, by default
    * count > count the number of items in the list
    * copy > copies one list in the other
    * join > Joins two lists

In [1]:
x = [1, 3.4, True, 'Navneet']
print(x)

[1, 3.4, True, 'Navneet']

In [13]:
print(x[3])

Navneet

In [14]:
#Multi-Line String
'''Navneet is a Good boy. 
He take capsule class.'''

#Single Line String
'Navneet is a Good boy. He take capsule class.'
"Navneet is a Good boy. He take capsule class."

'Navneet is a Good boy. He take capsule class.'

In [15]:
x.append('Shandilya')
print(x)

[1, 3.4, True, 'Navneet', 'Shandilya']

In [11]:
x.clear()
print(x)

[]

In [16]:
x.insert(2, 'I am a good boy')

In [17]:
print(x)

[1, 3.4, 'I am a good boy', True, 'Navneet', 'Shandilya']

In [18]:
x.extend([1, 2, 3, 4, 5])
print(x)

[1, 3.4, 'I am a good boy', True, 'Navneet', 'Shandilya', 1, 2, 3, 4, 5]

In [19]:
y = [2, 5.5, False,'Faisal', 'Shailendra', 'Satyam']
x.extend(y)

In [20]:
print(x)

[1, 3.4, 'I am a good boy', True, 'Navneet', 'Shandilya', 1, 2, 3, 4, 5, 2, 5.5, False, 'Faisal', 'Shailendra', 'Satyam']

In [24]:
x.remove(2)

In [25]:
print(x)

[1, 3.4, 'I am a good boy', True, 'Navneet', 'Shandilya', 1, 3, 4, 5, 5.5, False, 'Faisal', 'Shailendra', 'Satyam']

In [26]:
z = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 1, 1, 13, 4, 5, 2, 1, 34, 55, 2, 21, 1]
z.count(1)

6

In [30]:
list = [[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]
print(list[0][1][1])

5

In [32]:
h = []
h = x.copy()

In [33]:
print(h)

[1, 3.4, 'I am a good boy', True, 'Navneet', 'Shandilya', 1, 3, 4, 5, 5.5, False, 'Faisal', 'Shailendra', 'Satyam']

In [34]:
x.append?

Signature: x.append(object, /)
Docstring: Append object to the end of the list.
Type:      builtin_function_or_method

In [35]:
x.reverse()

In [36]:
print(x)

['Satyam', 'Shailendra', 'Faisal', False, 5.5, 5, 4, 3, 1, 'Shandilya', 'Navneet', True, 'I am a good boy', 3.4, 1]

In [37]:
x.sort()
print(x)

TypeError: '<' not supported between instances of 'bool' and 'str'

In [38]:
x.clear()

In [39]:
x = [12, 334, 54, 21, 44, 21, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x.sort()
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 21, 21, 44, 54, 334]

In [40]:
x.clear()
x = ['Satyam', 'Shailendra', 'Faisal', 'Navneet', 'Shandilya']
x.sort()
print(x)

['Faisal', 'Navneet', 'Satyam', 'Shailendra', 'Shandilya']

In [41]:
x.pop()
print(x)

['Faisal', 'Navneet', 'Satyam', 'Shailendra']

In [42]:
x.pop(2)

'Satyam'

In [43]:
print(x)

['Faisal', 'Navneet', 'Shailendra']

In [44]:
x.index('Navneet')

1

Write a program to insert 10 fibnocii series into a list.

In [46]:
list.clear()
list

[]

In [47]:
list = [0,1]
a = 0
b = 1
for i in range(0, 8):
    sum = a+b
    list.append(sum)
    a = b
    b = sum
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]